Click==5.1
Flask==1.1.1
gunicorn==20.0.4
itsdangerous==0.24
Jinja2==2.10.1
MarkupSafe==0.23
Werkzeug==0.15
Flask-SQLAlchemy==2.4.4
Flask-Migrate==2.5.3
psycopg2==2.8.4
flask-table==0.5.0
flask-mysql==1.5.1
flask-marshmallow==0.13.0
marshmallow==3.7.1
marshmallow-sqlalchemy==0.23.1
flask-heroku==0.1.9
flask-migrate==1.1.1